@charset "utf-8";
/* ----------------------------------------------------------------
       common
---------------------------------------------------------------- */
html {
    scroll-behavior: smooth;
}
.inner {
    width: 1400px;
    margin: 0 auto;
    max-width: 90%;
}
/*slick style*/
.slick-list {
    overflow: hidden;
    font-size: 0;
    z-index: 10;
}
.slick-slide {
    display: inline-block;
    vertical-align: middle;
}
.slick-slider {
    position: relative;
}
.slick-dots {
    position: absolute;
    bottom: -35px;
    width: 100%;
    text-align: center;
}
.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}
.slick-dots li button {
    font-size: 0;
    width: 12px;
    height: 12px;
    background: #5711ae;
    opacity: 0.2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.slick-dots li.slick-active button {
    opacity: 1
    ;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 0;
    background: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 10;
}
header h1 {
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    font-size: 24px;
}
header nav {
    float: right;
}
header nav li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
    font-size: 18px;
}
.content {
    padding-top: 50px;
}
section {
    padding: 100px 0;
}
#Project > div:after,
#About:after {
    content:"";
    display: block;
    clear: both;
}
#Project > div {
    padding: 50px 0;
}
section .img-area,
section .text-area {
    float: left;
    padding: 0 30px;
}
section .img-area {
    width: 33%;
}
section .img-area > div {
    border: 1px solid #ddd;
}
section .img-area img {
    margin-right: 15px;
}
section .img-area img:last-of-type {
    margin-right: 0;
}
section .img-area p {
    font-size: 13px;
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #ddd;
}
section .text-area {
    position: relative;
    top: 80px;
    width: 67%;
    padding: 0 60px;
}
.project01 .text-area {
    top: 40px;
}
section .text-area h2 {
    font-size: 35px;
    font-weight: 900;
    color: #333;
}
section .text-area h2 span {
    display: block;
    font-size: 28px;
    margin-bottom: 10px;
}
section .text-area dl {
    margin-top: 20px;
    text-align: right;
}
section .text-area dl dt,
section .text-area dl dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
    color: #555;
}
section .text-area p {
    margin-top: 45px;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: #666;
}
.project01 .text-area p {
    font-size: 20px;
    line-height: 1.5;
}
section .text-area a {
    display: inline-block;
    margin-top: 40px;
    padding: 10px 20px;;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    background: #5711ae;
}
.profile {
    display: inline-block;
    border: 1px solid #ddd;
}
#About .profile-box + .profile-box {
    margin-top: 50px;
}
#About .img-area {
    width: 30%;
}
#About .text-area {
    width: 70%;
    top: 50px;
    padding-left: 150px;
}
#About h2 {
    margin-top: 70px;
    font-size: 18px;
    font-weight: 600;
}
#About h2 + p {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    color: #666;
    border-top: 0;
    padding: 0;
    text-align: left;
}
#About h3 {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    color: #5711ae;
    font-size: 23px;
    font-weight: 600;
}
#About ul {
    display: inline-block;
    vertical-align: top;
    width: 65%
}
#About ul li {
    display: inline-block;
    font-size: 18px;
}
#About ul  li:first-of-type {
    margin-top: 0;
}
#About ul h4 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}
#About ul b {
    font-size: 16px;
    color: #666;
}
#About ul p {
    margin-top: 5px;
}
#About .experience li {
    margin-top: 30px;
}
#About .skill li {
    margin-right: 40px;
    font-size: 20px;
    font-weight: 600;
}
#About .profile-list li {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 300;
    color: #555;
}
